:root{
    --main-black: #262625;
    --main-purple: #6045CB;
    --secondary-text-nonfocus: #ABA5C5;
    --secondary-text-nonfocu: #ABA5C5;
}
.cpmaticaautopost{
    max-width: 820px !important;
}
.cpmaticaautopost *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cpmaticaautopost h2{
    font: normal bold 26px/36px 'Roboto', sans-serif;
    margin-bottom:  15px;
}
.cpmaticaautopost article{
    display: flex;
    gap:  25px;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: stretch;
    background: #FFF;
    align-content: stretch;
    margin-bottom:  15px;
    box-shadow: 0px 1px 20px 0px rgba(15, 15, 15, 0.10);
}
.cpmaticaautopost article .row-category{
    font: normal 500 14px/20px 'Roboto', 'sans-serif';
    color: var(--secondary-text-nonfocu);
    cursor: default;
}
.cpmaticaautopost article .image-banner{
    width:  350px;
    height: 180px;
}
.cpmaticaautopost article .image-banner{
    background: #eaeaea;
}
.cpmaticaautopost article .image-banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.cpmaticaautopost article .content{
    width:  calc(100% - 375px);
    padding:  25px 25px 25px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.cpmaticaautopost article .content a{
    text-decoration: none;
}
.cpmaticaautopost article .content h4{
    max-height: 40px;
    display: block;
    overflow: hidden;
    font: normal bold 20px/22px 'Roboto', sans-serif;
}
.cpmaticaautopost article > *{
    width: 100%;
}
.cpmaticaautopost article .row-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.cpmaticaautopost article .row-bottom > a{
    color: var(--main-purple);
    font: normal 16px/25px 'Roboto', 'sans-serif';
    text-transform: capitalize;

}
.cpmaticaautopost article .left-col{
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap:  20px;
}
.cpmaticaautopost article .left-col a{
    display: inline-block;
    padding:  8px 20px;
    color: #fff;
    background: var(--main-purple);
    font: normal 18px/25px 'Roboto', 'sans-serif';
}
.cpmaticaautopost span.rating{
    color: var(--secondary-text-nonfocus);
    font: normal 14px/20px 'Roboto', 'sans-serif';
    cursor: default;
}